body{

    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.BG{
    height: 100vh;
    width: 100%;
        
}


@import url('http://fonts.cdnfonts.com/css/samarkan');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
@blue: #26bbf0;
@green: #c2d5a0;
@red: #cf6a6d;
@yellow: #ffbc0d;

@black: #343536;
@black-2: #424950;
@grey: #89949b;
@grey-2: #9aa8b1;
@light-grey: #c4c9cd;
@light-grey-2: #dbdfe1;
@white: #f3f4f5;

.col-11 {
  color: white;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "proxima-nova-soft", sans-serif;
  -webkit-user-select: none;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body .vertical-centered-box {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
body .vertical-centered-box:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
body .vertical-centered-box .content {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 0;
}
* {
}
body {
  background: #2c2d44;
}
#particles-background,
#particles-foreground {
  left: -51%;
  top: -51%;
  width: 202%;
  height: 202%;
  transform: scale3d(0.5, 0.5, 1);
  position: fixed;
  z-index: -1;
}
#particles-background {
    background-image: linear-gradient(180deg, #ff7700, #450c00);
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body{
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.BG{
    height: 100vh;
    width: 100%;
        
}



.Services .card {
  height: 400px;
  color: black;
  background-color: #efefef;
  perspective: 500px;
  background-color: transparent;
  border: 0;
}

.Services .card:hover {
  position: relative;
  z-index: 200;
  transition: 0.5s;
}

.Page .Services {
  position: relative;
  bottom: 0;
  margin-top: 10vh;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.Services .card:hover .content {
  transform: rotateX(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background: #03446a;
  color: white;
  transform: rotateX(180deg);
}
.Services .card .front .card-title {
  color: #5033ff;
  font-weight: bold;
  font-size: calc(1.375rem + 1.5vw);
  height: min-content;
  position: absolute;
  bottom: 0;
  line-height: normal;
  margin-bottom: 50px;
  width: 100%;
}

.Services .card .cardNo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.front .Svg {
  margin-top: 50px;
}

.back {
  padding: 15px;
}

.back div {
  position: absolute;
  bottom: 40px;
  left: 0;
  margin: 0 auto;
  width: 100%;
}


.Hero{
  min-height: 90vh;
}

.introText h1{
  margin-top: 23vh;
  font-size:70px;
  font-family: 'Samarkan', sans-serif;
  color: black;
}

.Hero .row{
  margin-top: 10vh;

}